@font-face{
  font-family: 'ProximaNova Regular';
  src: url('../fonts/ProximaNovaRegular.eot');
  src: url('../fonts/ProximaNovaRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNovaRegular.woff') format('woff'),
  url('../fonts/ProximaNovaRegular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: 'ProximaNova Bold';
  src: url('../fonts/ProximaNovaBold.eot');
  src: url('../fonts/ProximaNovaBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNovaBold.woff') format('woff'),
  url('../fonts/ProximaNovaBold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}
