/* Colors */
$black: #000;
$white: #fff;
$gray: #434343;
$adv_discount: #454545;
$light_gray: #d9d9d9;
$color_attention: #f4e26b;
$main_blue: #5c6f9a;
$product_border: #849cd3;

/* Slick slider */
$slick-font-path: '/assets/fonts/';
$slick-loader-path: '/assets/img/';
$dot_active: #f4bc6b;

