<% var header_data = {
styles: htmlWebpackPlugin.files.css,
title: "Доставка и оплата"
}; %>
<%= _.template(require('./../includes/header.html').default)(header_data) %>

<%= _.template(require('./../includes/common/top_line.html').default)() %>
<%= _.template(require('./../includes/common/header.html').default)() %>

<div class="content">
    <section class="section">
        <div class="container">
            <div class="section__header">
                <h2 class="catalog__title">Оплата и доставка</h2>
            </div>

            <div>
                Доставка посылок возможна ТК : СДЭК, ПЭК по согласованию с клиентом.
                <p><strong>Как купить заготовки , поковки, литье</strong></p>
                <p>1.    Выберите заготовку , поковку для клинка или художественное литье для рукояти ножа<br>
                    2.    Выберите размер заготовки , поковки для клинка или<strong> </strong>модель литья<br>
                    3.    Выберите сталь заготовки , поковки для клинка или<strong> </strong>материал литья<br>
                    4.    Добавьте в заказ<br>
                    5.    Перейдите в корзину или продолжите покупки<br>
                    6.    Если есть необходимость, поменяйте заказанное количество, нажмите кнопку «обновить»<br>
                    7.    Заполните форму заказа<br>
                    8.    Нажмите кнопку «Оформить заказ»</p>
                <p><strong>Оплата.</strong></p>
                <p>1. Уважаемые клиенты и покупатели, при выборе способа доставки «Почта  России — наложенный платёж», оплата происходит в момент получения заказа на почте.</p>
                <p>Внимание: При пересылке заказа наложенным платежом стоимость доставки увеличивается приблизительно на 8% (это не наши условия, а тарифы почты России), а также при оплате заказа наложенным платежом, почтой с Вас будет взиматься дополнительная комиссия за перевод денег, размер комиссии зависит от суммы платежа. Увеличение расходов по сравнению с предоплатой будет примерно на 300р.</p>
                <p>до 1000 руб. (включительно) — 80 руб.+5% от суммы платежа<br>
                    1000 — 5000 руб. (включительно) — 90 руб.+4-7% от суммы платежа<br>
                    свыше 5000 руб. — 235 руб.+2% от суммы платежа.<br>
                    В некоторых регионах комиссионные сборы могут отличаться от указанных.</p>
                <p>Внимание! Администрация магазина оставляет за собой право отказать покупателю в отправке товара наложенным платежом. По договоренности с покупателем в этом случае заказ будет выслан после его оплаты. </p>
                <p>2. Оплата безналичным расчетом ( самый приемлемый способ оплаты) .  При выборе данного способа оплаты на указанный вами электронный адрес будут высланы реквизиты и все инструкции по оплате выбранного вами товара.<br>
                    Оплатить заказ переводом на карту Сбербанка<br>
                    Павел Алексеевич Приказчиков</p>
                <p>&nbsp;</p>
                <p><strong>Доставка.</strong></p>
                <p>1. Почтой России:</p>
                <p>Стоимость доставки зависит от веса отправляемого груза и от вашего региона проживания. В среднем стоимость доставки составляет 300 — 500 руб.  Средний срок доставки 7-15 дней.  Вы сможете самостоятельно отслеживать Ваш заказ на <a href="http://www.russianpost.ru/rp/servise/ru/home/postuslug/trackingpo" target="_blank"><strong>сайте почты России.</strong></a></p>
                <p>2. ЕМС Почта России<br>
                    Стоимость как правило будет дороже чем при отправкой Почтой России.<br>
                    Отправка осуществляется в любой регион РФ без исключения.</p>
                <p>3. По согласование возможна доставка транспортными компаниями.</p>
            </div>
        </div>
    </section>
</div>

<%= _.template(require('./../includes/common/footer.html').default)() %>

<% var footer_data = {
scripts: htmlWebpackPlugin.files.js
}; %>
<%= _.template(require('./../includes/footer.html').default)(footer_data) %>
